/实体类生成工具/.vs/实体类生成工具/v15/.suo
/实体类生成工具/.vs/实体类生成工具/v15/Server/sqlite3/db.lock
/实体类生成工具/.vs/实体类生成工具/v15/Server/sqlite3/storage.ide
/实体类生成工具/.vs/实体类生成工具/v15/Server/sqlite3/storage.ide-shm
/实体类生成工具/.vs/实体类生成工具/v15/Server/sqlite3/storage.ide-wal
/实体类生成工具/UpgradeLog.htm
/实体类生成工具/bin/Debug/实体类生成工具.exe
/实体类生成工具/bin/Debug/实体类生成工具.pdb
/实体类生成工具/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/实体类生成工具/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/实体类生成工具/obj/Debug/实体类生成工具.AboutBoxAuthor.resources
/实体类生成工具/obj/Debug/实体类生成工具.Form1.resources
/实体类生成工具/obj/Debug/实体类生成工具.Form2.resources
/实体类生成工具/obj/Debug/实体类生成工具.Main.resources
/实体类生成工具/obj/Debug/实体类生成工具.MyMessageBox.resources
/实体类生成工具/obj/Debug/实体类生成工具.Properties.Resources.resources
/实体类生成工具/obj/Debug/实体类生成工具.csproj.CoreCompileInputs.cache
/实体类生成工具/obj/Debug/实体类生成工具.csproj.FileListAbsolute.txt
/实体类生成工具/obj/Debug/实体类生成工具.csproj.GenerateResource.cache
/实体类生成工具/obj/Debug/实体类生成工具.exe
/实体类生成工具/obj/Debug/实体类生成工具.pdb
